.customer-details {
  background: linear-gradient(0deg, #c0e2ff, transparent);
  padding: 10px;
  margin-top: 10px;
}

ul.customer-order-list li {
  margin-left: 20px;
}

.customer-details h3 {
  margin-top: 10px;
}

h2.customer-name {
  border-bottom: 1px solid;
  margin-bottom: 10px;
}
